<div class="messages">
        {{#if success}}
        <div class="alert alert-success messagealerts">
            {{success}}
        </div>

        {{/if}} {{#if danger}}
        <div class="alert alert-danger messagealerts">
            {{danger}}
        </div>

        {{/if}}

</div>

{{!-- scripts --}}

<script src="/js/main.js"></script>