<section class="about">

    <div class="panel panel-default">
        <div class="panel panel-heading">
<h5 class="text-center">
        We provide you with the best articles concerning the world of Information Technology.
    </h4>
        </div>

        <div class="panel-panel-body">
            <img src="/images/091128_TechnologyHeader1.jpg" style="margin-left:8%" class="img-thumbnail" alt="" >

 </div>

        <div class="panel-panel-footer">
               <h5 class="text-center">We will provide you with the most current information concerning Information Technology  
</h5>
       
        </div>
    </div>
    

 
</section>